<div class="text" fittext>
    <div class="text-child">
        <p>Discover the Maasai Gift Shop—where traditional Maasai treasures meet a chance to uplift Natumi, a single mother facing hardships.</p>
        <p>Your purchase isn't just a buy; it's a lifeline.</p>
        <p>Choose Maasai craftsmanship today to make a difference.</p>   
        <a href="#giftshop">Visit the Maasai Gift Shop</a>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" />
<img class="image landscape" src="assets/sophy_herd.png" />