<div class="text">
    <div style="height: 80%; padding-bottom: 4%" fittext>
        <div>
            <p>Discover the Maasai Gift Shop—where traditional Maasai treasures meet a chance to uplift Natumi, a single mother facing hardships.</p>
            <p>Your purchase isn't just a buy; it's a lifeline.</p>
            <p>Choose Maasai craftsmanship today to make a difference.</p>   
        </div>
    </div>
    <div style="height: 15%" fittext>
        <a href="#giftshop">Visit the Maasai Gift Shop</a>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" />
<img class="image landscape" src="assets/sophy_herd.png" />