<div class="text" fittext data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <p>{{ 'maasaihandcrafted-p-1' | translate }}</p>
        <p>{{ 'maasaihandcrafted-p-2' | translate }}</p>
        <p>{{ 'maasaihandcrafted-p-3' | translate }}</p>   
        <a href="#giftshop">{{ 'maasaihandcrafted-a-1' | translate }}</a>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" data-aos="zoom-in" data-aos-duration="1500" />
<img class="image landscape" src="assets/sophy_herd.png" data-aos="zoom-in" data-aos-duration="1500" />