<div class="text" fittext data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <h4>{{ 'solarpitch-h4-1' | translate }}</h4>
        <p>{{ 'solarpitch-p-1' | translate }}</p>
        <p>{{ 'solarpitch-p-2' | translate }}</p>
        <p>{{ 'solarpitch-p-3' | translate }}</p>   
        <a href="#invest">{{ 'solarpitch-a-1' | translate }}</a>
        <a class="info" href="#invest-details">{{ 'solarpitch-a-2' | translate }}</a>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" data-aos="zoom-in" data-aos-duration="1500" />
<img class="image landscape" src="assets/sophy_herd.png" data-aos="zoom-in" data-aos-duration="1500" />