<div class="text">
    <div style="height: 12%; padding-bottom: 2%" fittext>
        <h4>Picture this:</h4>
    </div>
    <div style="height: 68%; padding-bottom: 4%" fittext>
        <div>
            <p>Your investment not only grows your wealth but also fuels progress in developing regions.</p>
            <p>The ripple effect is real – families empowered, children educated, and lives improved.</p>
            <p>Join the movement with Maasai Investments and experience the fulfillment of impact-driven investment.</p>   
        </div>
    </div>
    <div style="height: 13%" fittext>
        <a href="#invest">Empower Change & Invest Now</a>
    </div>

    <!-- <h4>Picture this:</h4>
    <p>Your investment not only grows your wealth but also fuels progress in developing regions.</p>
    <p>The ripple effect is real – families empowered, children educated, and lives improved.</p>
    <p>Join the movement with Maasai Investments and experience the fulfillment of impact-driven investment.</p>
    <a href="#invest">Empower Change & Invest Now</a> -->
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" />
<img class="image landscape" src="assets/sophy_herd.png" />