<div class="text" fittext>
    <div class="text-child">
        <h4>Picture this</h4>
        <p>Your investment not only grows your wealth but also fuels progress in developing regions.</p>
        <p>The ripple effect is real – families empowered, children educated, and lives improved.</p>
        <p>Join the movement with Maasai Investments and experience the fulfillment of impact-driven investment.</p>   
        <a href="#invest">Empower Change & Invest Now</a>
        <a class="info" href="#invest-details">Learn More</a>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" />
<img class="image landscape" src="assets/sophy_herd.png" />