<div class="text" fittext 
    data-aos="zoom-in" data-aos-duration="1500" 
    appClosestToCenter (closestToCenter)="onClosestToCenter($event)">
    <div class="text-child">
        <h4>{{ 'stakeholdercapitalism-h4-1' | translate }}</h4>
        <p>{{ 'stakeholdercapitalism-p-1' | translate }}</p>
        <p>{{ 'stakeholdercapitalism-p-2' | translate }}</p>
        <p>{{ 'stakeholdercapitalism-p-3' | translate }}</p>
        <a class="action" routerLink="invest">{{ 'stakeholdercapitalism-a-1' | translate }}</a>
    </div>
</div>

<div class="text youtube-video-container" data-aos="zoom-in" data-aos-duration="1500">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zXuGqpB1wuQ?si=4XZOL0LXnZhq9Crw&amp;start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<share-buttons [theme]="'circles-light'" [url]="'https://maasaiinvestments.online/stakeholdercapitalism'" [include]="['whatsapp','facebook','twitter','linkedin','email','copy']" [show]="6" [show]="6" data-aos="zoom-in" data-aos-offset="-50"></share-buttons>