<div class="text" fittext>
    <div class="text-child">
        <h4>Stakeholder Capitalism</h4>
        <p>We invite people to participate in our endeavours. Our open door policy ensures that anyone can come to us and have their say.</p>
        <p>Any requests will be handled in a transparent way while also maintaining confidentiality.</p>
        <p>In our decision-making we will act on the basis of full consent of everyone involved. We strongly believe in ethical coöperation.</p>
        <a class="action" href="#invest">Start Investing</a>
    </div>
</div>

<div class="text youtube-video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zXuGqpB1wuQ?si=4XZOL0LXnZhq9Crw&amp;start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<!-- <img class="image portrait" src="assets/sc.jpg" />
<img class="image landscape" src="assets/sc.jpg" /> -->