<div class="text" fittext fittext data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <p>{{ 'nkumumsolarstory-p-1' | translate }}</p>
        <p>{{ 'nkumumsolarstory-p-2' | translate }}</p>
        <a class="info" href="#about-us">{{ 'nkumumsolarstory-a-1' | translate }}</a>
    </div>
</div>
<img class="image portrait" src="assets/moses-nkumum.jpg" fittext data-aos="zoom-in" data-aos-duration="1500" />
<img class="image landscape" src="assets/moses-nkumum.jpg" fittext data-aos="zoom-in" data-aos-duration="1500" />