<div class="text" fittext>
    <div class="text-child">
        <p>Thanks to a generous donation the Nkumum family now has solar panels on the roof of their house, enabling them for the first time in their life to use electricity in their home. The solar panels were installed by Samuel Maina, an entrepreneur who made his mission to provide families living off the grid with energy and innovations.</p>
    </div>
</div>
<img class="image portrait" src="assets/moses-nkumum.jpg" />
<img class="image landscape" src="assets/moses-nkumum.jpg" />