<div class="text" fittext>
    <div class="text-child">
        <p>Moran Power installed solar panels for the family Nkumum. On the picture you see Moses Nkumum who is the father of Sophy, one of our founders.</p>
        <p>With these solar panels on their roof they can now for the first time in their life use electricity in their home.</p>
        <a class="info" href="#about-us">About Us</a>
    </div>
</div>
<img class="image portrait" src="assets/moses-nkumum.jpg" />
<img class="image landscape" src="assets/moses-nkumum.jpg" />