<div class="text biggerfont" fittext>
    <div class="text-child">
        <p>Meet Natumi, she is taking care of the livestock of our clients.</p>
        <p>Thanks to her efforts we were able to provide our investors an average profit of 6% in the first half year.</p>
        <p>With the money she earned she was able to send her son to school and provide him with a laptop.</p>
        <a class="info" href="#moranpower">Continue</a>
    </div>
</div>
<img class="image portrait" src="assets/natumi.jpg" />
<img class="image landscape" src="assets/natumi.jpg" />