<div class="text biggerfont" data-aos="zoom-in" data-aos-duration="1500">
    <div style="height: 13%; padding-bottom: 2%" fittext>
        <h4>{{ 'animaldetails-h4-1' | translate }}</h4>
    </div>
    <div style="height: 68%; padding-bottom: 4%" fittext>
        <div>
            <p>{{ 'animaldetails-p-1' | translate }}</p>
            <p>{{ 'animaldetails-p-2' | translate }}</p>
            <p>{{ 'animaldetails-p-3' | translate }}</p>
        </div>
    </div>
    <div style="height: 13%" fittext>
        <button>Buy Luna for $35</button>
    </div>
</div>
<img class="image portrait" src="assets/goat_wide.jpg" data-aos="zoom-in" data-aos-duration="1500" />
<img class="image landscape" src="assets/goat.jpg" data-aos="zoom-in" data-aos-duration="1500" />