<nav class="mobile-menu">
  <label for="menu-toggle" class="menu-icon" (click)="fullscreenMenuVisible = !fullscreenMenuVisible">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
</nav>

<div id="fullscreen-menu" [@fadeInAnimation]="fullscreenMenuVisible">
  <div class="items">
    <a class="item noclick">MENU</a>
    <a href="#investment-pitch" class="item" (click)="hideMenu()">Home</a>
    <a href="#goat-pitch" class="item" (click)="hideMenu()">Buy a Goat</a>
    <!-- <a href="#animals-list" class="item" (click)="hideMenu()">Animals</a> -->
    <!-- <a href="#goat-pitch" class="item" (click)="hideMenu()">Goats</a> -->
    <!-- <a href="#giftshop-pitch" class="item" (click)="hideMenu()">Giftshop</a> -->
    <!-- <a href="#safari-pitch" class="item" (click)="hideMenu()">Safari</a> -->
    <a href="#moranpower" class="item" (click)="hideMenu()">Moran Power</a>
    <a href="#nkumum" class="item" (click)="hideMenu()">Nkumum Family</a>
    <a href="#about-us" class="item" (click)="hideMenu()">Founders</a>
    <a class="item noclick"></a>
  </div>
</div>

<div id="top-menu">
  <div class="items">
    <a href="#investment-pitch" class="item" (click)="hideMenu()"><mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon></a>
    <a href="#goat-pitch" class="item" (click)="hideMenu()">Buy a Goat</a>
    <!-- <a href="#animals-list" class="item" (click)="hideMenu()">Animals</a> -->
    <!-- <a href="#goat-pitch" class="item" (click)="hideMenu()">Goats</a> -->
    <!-- <a href="#giftshop-pitch" class="item" (click)="hideMenu()">Giftshop</a> -->
    <!-- <a href="#safari-pitch" class="item" (click)="hideMenu()">Safari</a> -->
    <a href="#moranpower" class="item" (click)="hideMenu()">Moran Power</a>
    <a href="#nkumum" class="item" (click)="hideMenu()">Nkumum Family</a>
    <a href="#about-us" class="item" (click)="hideMenu()">Founders</a>

  </div>
</div>