<nav class="mobile-menu">
  <label for="menu-toggle" class="menu-icon" (click)="fullscreenMenuVisible = !fullscreenMenuVisible">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
</nav>

<div id="fullscreen-menu" [@fadeInAnimation]="fullscreenMenuVisible">
  <div class="items">
    <a class="item noclick">{{ 'menu-a-1' | translate }}</a>
    <a routerLink="" class="item" (click)="hideMenu()">{{ 'menu-a-2' | translate }}</a>
    <a routerLink="invest" class="item" (click)="hideMenu()">{{ 'menu-a-3' | translate }}</a>
    <a routerLink="goats" class="item" (click)="hideMenu()">{{ 'menu-a-4' | translate }}</a>
    <a routerLink="moranpower" class="item" (click)="hideMenu()">{{ 'menu-a-5' | translate }}</a>
    <a routerLink="about" class="item" (click)="hideMenu()">{{ 'menu-a-6' | translate }}</a>
    <a routerLink="effectivealtruism" class="item" (click)="hideMenu()">{{ 'menu-a-7' | translate }}</a>
    <a class="item noclick"></a>
  </div>
</div>

<div id="top-menu">
  <div class="items">
    <a routerLink="" class="item" (click)="hideMenu()"><mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon></a>
    <a routerLink="invest" class="item" (click)="hideMenu()">{{ 'menu-a-3' | translate }}</a>
    <a routerLink="goats" class="item" (click)="hideMenu()">{{ 'menu-a-4' | translate }}</a>
    <a routerLink="moranpower" class="item" (click)="hideMenu()">{{ 'menu-a-5' | translate }}</a>
    <a routerLink="about" class="item" (click)="hideMenu()">{{ 'menu-a-6' | translate }}</a>
    <a routerLink="effectivealtruism" class="item" (click)="hideMenu()">{{ 'menu-a-7' | translate }}</a>
  </div>
</div>

<app-language-selector />