<div class="title">
    <h4 class="biggerfont">Pick a goat</h4>
</div>

<div class="gallery">
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a href="#animal-details"><img src="assets/livestock/goat1.jpg" /></a>
</div>