<div class="title" data-aos="zoom-in" data-aos-duration="1500">
    <h4 class="biggerfont">{{ 'animalslist-h4-1' | translate }}</h4>
</div>

<div class="gallery" data-aos="zoom-in" data-aos-duration="1500">
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
    <a routerLink="animal-details"><img src="assets/livestock/goat1.jpg" /></a>
</div>