<div class="text" fittext>
    <div class="text-child">
        <h4>Effective Altruïsm</h4>
        <p>Helping others should be rewarded.</p>
        <p>Incentivizing good deeds causes people to do them more often. Giving them a financial return means they can help more people when their capital grows.</p>
        <p>Empowering and faccilitating people to realize their dreams.</p>
        <p>The most effective way of helping is giving people the tools they need to gain control of their life.</p>
        <a class="info" href="#stakeholdercapitalism">Read More</a>
    </div>
</div>
<div class="text youtube-video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rvskMHn0sqQ?si=fE1fnsk2J60lFjIK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>