<div class="text" fittext data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <h4>{{ 'effectivealtruism-h4-1' | translate }}</h4>
        <p>{{ 'effectivealtruism-p-1' | translate }}</p>
        <p>{{ 'effectivealtruism-p-2' | translate }}</p>
        <p>{{ 'effectivealtruism-p-3' | translate }}</p>
        <p>{{ 'effectivealtruism-p-4' | translate }}</p>
        <a class="info" href="#stakeholdercapitalism">{{ 'effectivealtruism-a-1' | translate }}</a>
    </div>
</div>
<div class="text youtube-video-container" data-aos="zoom-in" data-aos-duration="1500">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rvskMHn0sqQ?si=fE1fnsk2J60lFjIK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div data-aos="zoom-in" data-aos-offset="-50">
    <share-buttons [theme]="'circles-light'" [url]="'https://maasaiinvestments.online/#effectivealtruism'" [include]="['whatsapp','facebook','twitter','linkedin','email','copy']" [show]="6" [show]="6"></share-buttons>
</div>