<div class="text" fittext data-aos="zoom-in" data-aos-duration="3000">
    <div class="text-child">
        <h4>{{ 'safaripitch-h4-1' | translate }}</h4>
        <p>{{ 'safaripitch-p-1' | translate }}</p>
        <p>{{ 'safaripitch-p-2' | translate }}</p>
        <p>{{ 'safaripitch-p-3' | translate }}</p>
        <div class="buttons">
            <a href="#invest" fittext>{{ 'safaripitch-a-1' | translate }}</a>
            <a href="#invest" fittext>{{ 'safaripitch-a-2' | translate }}</a>
            <a href="#invest" fittext>{{ 'safaripitch-a-3' | translate }}</a>
        </div>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" data-aos="zoom-in" data-aos-duration="3000" />
<img class="image landscape" src="assets/sophy_herd.png" data-aos="zoom-in" data-aos-duration="3000" />