.text a {
    width: 40%;
}
@media (max-height: 130vw) {
    .text a:first-of-type {
        margin-bottom: 2%;
        margin-right: 2%;
    }
}
@media (min-height: 130vw) {
    .text a {
        display: block;
        width: 70%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .text a:first-of-type {
        margin-top: 0%;
    }
    .text a:last-of-type {
        margin-bottom: 0%;
    }
}