<div class="text">
    <div style="height: 12%; padding-bottom: 2%" fittext>
        <h4>Safari Tours</h4>
    </div>
    <div style="height: 42%; padding-bottom: 4%" fittext>
        <div>
            <p>If you decide to come to Kenya to visit your goats in person, there are some tour companies that we can recommend.</p>
            <p>You will be guided by people who live in the area and know all the good places.</p>
            <p>On top, they will help you bartering so that you get the best prices.</p>
        </div>
    </div>
    <div class="buttons" style="height: 40%">
        <a href="#invest" fittext>Nashipae Safari</a>
        <a href="#invest" fittext>.. Safari</a>
        <a href="#invest" fittext>Ampai Safari</a>
    </div>

    <!-- <h4>Picture this:</h4>
    <p>Your investment not only grows your wealth but also fuels progress in developing regions.</p>
    <p>The ripple effect is real – families empowered, children educated, and lives improved.</p>
    <p>Join the movement with Maasai Investments and experience the fulfillment of impact-driven investment.</p>
    <a href="#invest">Empower Change & Invest Now</a> -->
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" />
<img class="image landscape" src="assets/sophy_herd.png" />