<div class="text" fittext>
    <div class="text-child">
        <h4>Safari Tours</h4>
        <p>If you decide to come to Kenya to visit your goats in person, there are some tour companies that we can recommend.</p>
        <p>You will be guided by people who live in the area and know all the good places.</p>
        <p>On top, they will help you bartering so that you get the best prices.</p>
        <div class="buttons">
            <a href="#invest" fittext>Nashipae Safari</a>
            <a href="#invest" fittext>.. Safari</a>
            <a href="#invest" fittext>Ampai Safari</a>
        </div>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" />
<img class="image landscape" src="assets/sophy_herd.png" />