/* layout */
.gallery {
    z-index: 10000;
    position: absolute;
    filter: drop-shadow(0vh 1vh 0.5vh #000);
    text-align: center;
}
.title {
    z-index: 10000;
    position: absolute;
    filter: drop-shadow(0vh 1vh 0.5vh #000);  
}
.gallery img {
    border: 0.2vw solid #222;
    border-radius: 5vw;
    cursor: pointer;
}
.text {
    text-align: center;
}
.text, .image {
    z-index: 10000;
    position: absolute;
    box-shadow: 0 2vw 3vw rgba(0, 0, 0, 0.4);
    border: 0.2vw solid #222;
    border-radius: 5vw;
    background-color: #ddd;
    padding: 3vh 3vw 3vh 3vw;
    color: #444;
}
.image {
    background-color: #8B4513;
    padding: 0;
    width: auto;
    height: auto;
    object-fit: cover;
}

/* Standard styles */
.text h4 {
    font-family: sans-serif;
}
mat-icon {    
    height: auto;
    width: auto;
}
.text button,
.text a {
    cursor: pointer;
    border-radius: 2vh;
    margin: auto;
    display: block;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 0 1vw 1.5vw rgba(255, 96, 96, 0.6);
    color: #ff6;
    background: linear-gradient(135deg, #f00, #a90000);
}
.text a {
    cursor: pointer;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    box-sizing: border-box;
}
.text button:hover,
.text a:hover {
    color: #ff0;
    background: linear-gradient(135deg, #f22, #a92222);
    transform: scale(1.1);    
}
.text button,
.text a {
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
}
// .text button:hover,
// .text a:hover {
//     margin-top: 4.8vh;
// }

input {
    display: block;
    margin: auto;
    text-align: center;
    width: 80%;
}

//@import 'texts.scss';

.text p, .text h1, .text h2, .text h3, .text h4 {
    margin-bottom: 2%;
}