<div class="text biggerfont" fittext data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <h4>{{ 'invest-h4-1' | translate }}</h4>
        <p>{{ 'invest-p-1' | translate }}</p>
        <p>{{ 'invest-p-2' | translate }}</p>
        <p>{{ 'invest-p-3' | translate }}</p>
        <p>{{ 'invest-p-4' | translate }}</p>


        <!-- <h4>{{ 'invest-h4-2' | translate }}</h4>
        <p class="smalltext">{{ 'invest-p-5' | translate }}</p>
        <div class="payment-methods">
            <label class="button-label">
                <input type="radio" name="payment-option" class="hidden-radio" />
                <img src="assets/iDEAL.png" />
            </label>
            <label class="button-label">
                <input type="radio" name="payment-option" class="hidden-radio" />
                <img src="assets/paypal.png" />
            </label>
            <label class="button-label">
                <input type="radio" name="payment-option" class="hidden-radio" />
                <img src="assets/creditcards.jpg" />
            </label>
            <label class="button-label">
                <input type="radio" name="payment-option" class="hidden-radio" />
                <img src="assets/sepa.jpg" />
            </label>
        </div>
        <span class="smalltext">{{ 'invest-span-1' | translate }}</span>
        <input [value]="amount" />
        <button>Invest Now</button> -->
    </div>
</div>

<div class="text" fittext data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <h4>{{ 'invest-h4-3' | translate }}</h4>
        <p>{{ 'invest-p-6' | translate }}</p><br />
        <form id="contactForm">
            <label>Your Name:</label><br /><input name="name" type="text" /><br />
            <label>Phone:</label><br /><input name="email" type="text" /><br />
            <label>Email:</label><br /><input name="phone" type="text" /><br />
            <input type="hidden" name="security" value="Ver3tig!" />
            <span style="display: block; height: 2%; color: transparent; text-wrap: nowrap;">{{ 'invest-span-2' | translate }}</span>
            <button type="button" class="contact" (click)="submitForm()">Send Contact Request</button>
        </form>
    </div>
</div>


<!-- <img class="image portrait" src="assets/invest_wide.png" />
<img class="image landscape" src="assets/invest.png" /> -->