<div class="text biggerfont" fittext 
    data-aos="zoom-in" data-aos-duration="1500"
    appClosestToCenter (closestToCenter)="onClosestToCenter($event)">
    <div class="text-child">
        <h4>{{ 'invest-h4-1' | translate }}</h4>
        <p>{{ 'invest-p-1' | translate }}</p>
        <p>{{ 'invest-p-2' | translate }}</p>
        <p>{{ 'invest-p-3' | translate }}</p>
        <p>{{ 'invest-p-4' | translate }}</p>

        <!-- <h4>{{ 'invest-h4-2' | translate }}</h4>
        <p class="smalltext">{{ 'invest-p-5' | translate }}</p>
        <div class="payment-methods">
            <label class="button-label">
                <input type="radio" name="payment-option" class="hidden-radio" />
                <img src="assets/iDEAL.png" />
            </label>
            <label class="button-label">
                <input type="radio" name="payment-option" class="hidden-radio" />
                <img src="assets/paypal.png" />
            </label>
            <label class="button-label">
                <input type="radio" name="payment-option" class="hidden-radio" />
                <img src="assets/creditcards.jpg" />
            </label>
            <label class="button-label">
                <input type="radio" name="payment-option" class="hidden-radio" />
                <img src="assets/sepa.jpg" />
            </label>
        </div>
        <span class="smalltext">{{ 'invest-span-1' | translate }}</span>
        <input [value]="amount" />
        <button>Invest Now</button> -->
    </div>
</div>

<div class="text" fittext data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <form id="contactForm">
            <label style="width: 80%">{{ 'invest-label-name' | translate }}</label><br /><input name="name" type="text" /><br />
            <label>{{ 'invest-label-phone' | translate }}</label><br /><input name="phone" type="text" /><br />
            <label>{{ 'invest-label-email' | translate }}</label><br /><input name="email" type="text" /><br />
            <label>{{ 'invest-label-message' | translate }}</label><br /><textarea name="message" rows="4"></textarea><br />
            <input type="hidden" name="security" value="Ver3tig!" />
            <button type="button" class="contact" (click)="submitForm()">{{ 'invest-button-submit' | translate }}</button>
        </form>
    </div>
</div>

<share-buttons [theme]="'circles-light'" [url]="'https://maasaiinvestments.online/invest'" [include]="['whatsapp','facebook','twitter','linkedin','email','copy']" [show]="6" [show]="6" data-aos="zoom-in" data-aos-offset="-50"></share-buttons>
