/* button colors */
.text button {
    background: linear-gradient(135deg, #0af, #39f);
    box-shadow: 0 1vw 1.5vw rgba(96, 96, 255, 0.6);
}
 .text button:hover {
    background: linear-gradient(135deg, #3af, #69f);
}



.text-child {
    width: 100%;
}


/* payment methods */
.payment-methods {
    margin-bottom: 2vh;
}

.payment-methods img {
    height: 8vh;
}

.button-label {
    position: relative;
    margin-right: 1vh;
    cursor: pointer;
}

.hidden-radio {
    position: absolute;
    opacity: 0;
}

.button-label img {
    border: 2px solid transparent;
    padding: 1vh;
    background: linear-gradient(to bottom right, #fff, #ccc);
    transition: border-color 0.3s ease;
}

.button-label input[type="radio"]:checked + img {
    border-color: blue; /* Change to your desired selected button style */
}

@media (max-width: 80vh) {
    .payment-methods {
        margin-bottom: 1vh;
    }
    .payment-methods img {
        padding: 0.1vh;
        height: 4vh;
    }
}

// .smalltext {
//     font-size: 2.4vh !important;
// }

// @media (max-width: 80vh) {
//     .smalltext {
//         font-size: 1.8vh !important;
//     }
// }