.logo {
    position: fixed;
    top: 1.1vw;
    left: 1.1vw;
    width: 8vw;
    height: 8vw;
    filter: drop-shadow(0vh 1vh 0.5vh #000);
    z-index: 10000000;
    cursor: pointer;
}

.logo:hover {
    top: 0.8vw;
    left: 0.8vw;
    width: 8.6vw;
    height: 8.6vw;
}

/* portrait */
@media (min-height: 130vw) {
    .logo {
        top: 1vh;
        left: 1vh;
        width: 8vh;
        height: 8vh;
    }

    .logo:hover {
        top: 0.8vh;
        left: 0.8vh;
        width: 8.6vh;
        height: 8.6vh;
    }
}