<div class="text biggerfont" fittext data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <p>{{ 'martienandsophy-p-1' | translate }}</p>
        <p>{{ 'martienandsophy-p-2' | translate }}</p>
        <p>{{ 'martienandsophy-p-3' | translate }}</p>
        <a class="contact" href="mailto:info@martiendejong.nl"><mat-icon aria-hidden="false" aria-label="Email icon" fontIcon="email"></mat-icon> info@martiendejong.nl</a>
        <a class="contact" href="mailto:sofynashipae@gmail.com"><mat-icon aria-hidden="false" aria-label="Email icon" fontIcon="email"></mat-icon> sofynashipae@gmail.com</a>
        <a class="info" href="#effectivealtruism">{{ 'martienandsophy-a-3' | translate }}</a>
    </div>
</div>
<img class="image portrait" src="assets/us_wide.png" data-aos="zoom-in" data-aos-duration="1500" />
<img class="image landscape" src="assets/us.png" data-aos="zoom-in" data-aos-duration="1500" />