/* button styles */
.text button,
.text a {
    background: linear-gradient(135deg, #006400, #009933);
    box-shadow: 0 1vw 1.5vw rgba(96, 255, 96, 0.6);
}
.text button:hover,
.text a:hover {
    background: linear-gradient(135deg, #226422, #229933);
}
.text-child a:last-of-type {
    margin-left: 10%;
    margin-right: 10%;   
}