/* layout */
.text {
    top: 25vh;
    left: 45vw;
    width: 40vw;
    height: 45vh;
}
.image {
    top: 25vh;
    left: 10vw;
    width: 28vw;
    height: 51vh;
}
/* portrait */
@media (min-height: 130vw) {
    .text {
        top: 53vh;
        left: 15vw;
        width: 65vw;
        height: 30vh;
    }
    
    .image {
        top: 10vh;
        left: 15vw;
        width: 71vw;
        height: 36vh;
    }
}

/* button styles */
.text button,
.text a {
    background: linear-gradient(135deg, #006400, #009933);
    box-shadow: 0 1vw 1.5vw rgba(96, 255, 96, 0.6);
}
.text button:hover,
.text a:hover {
    background: linear-gradient(135deg, #226422, #229933);
}
button, a {
    position: absolute;
}
button:first-of-type,
a:first-of-type {
    left: 5vw;
}
button:last-of-type,
a:last-of-type {
    right: 5vw;
}

@media(min-width: 100vh) and (max-width: 115vh) {
    .alignment {
        margin-top: -2vh;
    }
}

@media(max-width: 130vh) {
    // .text a {
    //     display: block;
    // }
}

.text a {
    position: inherit;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.text a:last-of-type {
    margin-bottom: 0;
}

.text-part {
    height: 70%;
    padding-bottom: 4%;
}
.button-part {
    height: 26%;
}

@media(max-width: 130vh) {
    .text-part {
        height: 60%;
        padding-bottom: 4%;
    }
    .button-part {
        height: 36%;
    }
        // .text a {
    //     display: block;
    // }
}
