<div class="text">
    <p>We are Martien de Jong and Sophy Nashipae.</p>
    <p>Last year, our love story began, inspiring us to explore effective ways of aiding the neediest families.</p>
    <p>Our journey led us to livestock investment, resulting in over 60 goats and sheep sheltered since 2023.</p>
    <div>
        <a href="mailto:sofynashipae@gmail.com"><mat-icon aria-hidden="false" aria-label="Email icon" fontIcon="email"></mat-icon> Sophy</a>
        <a href="mailto:info@martiendejong.nl"><mat-icon aria-hidden="false" aria-label="Email icon" fontIcon="email"></mat-icon> Martien</a>
    </div>
</div>
<img class="image portrait" src="assets/us_wide.png" />
<img class="image landscape" src="assets/us.png" />