<div class="text biggerfont">
    <div style="height: 18%; padding-bottom: 2%" fittext>
        <h4>Transform Lives with $35 Goat Investment</h4>
    </div>
    <div style="height: 65%; padding-bottom: 2%" fittext>
        <div>
            <p>For as little as $35 you can buy a goat and start enriching the lives of Maasai families as well as your own.</p>
            <p>As they earn, they can cover school fees, while you can use your profits to buy even more goats!</p>
        </div>
    </div>
    <div style="height: 13%" fittext>
        <a href="#animals-list">Change Lives: Pick Your Goat</a>
    </div>



    <!-- <h4>Transform Lives with $35 Goat Investment</h4>
    <p>For as little as $35 you can buy a goat and start enriching the lives of Maasai families as well as your own.</p>
    <p>As they earn, they can cover school fees, while you can use your profits to buy even more goats!</p>
    <a href="#shop">Change Lives: Pick Your Goat</a> -->
</div>
<img class="image portrait" src="assets/goat_wide.jpg" />
<img class="image landscape" src="assets/goat.jpg" />
