<div class="text biggerfont" fittext data-aos="fade-down" data-aos-duration="3000">
    <div class="text-child">
        <h4>Transform Lives with $35 Goat Investment</h4>
        <p>For as little as $35 you can buy a goat and start enriching the lives of Maasai families as well as your own.</p>
        <p>As they earn, they can cover school fees, while you can use your profits to buy even more goats!</p>
        <a class="action" href="#invest">Empower People & Invest Now</a>
        <a class="info" href="#maxwell">Continue Reading</a>
    </div>
</div>
<img class="image portrait" src="assets/goat_wide.jpg" data-aos="fade-left" data-aos-duration="3000" />
<img class="image landscape" src="assets/goat.jpg" data-aos="fade-left" data-aos-duration="3000" />