<div class="text" fittext>
    <div class="text-child">
        <p>With a small loan Samuel Maina has setup his renewable energy installation company Moran Power which goal is to 
            give people in less accessible areas access to electricity, water and telecommunicastions.</p>
        <p>With a small loan you can help bring this company to the next level.</p>
        <a class="info" href="https://moranpower.online" target="_blank">Visit the Moran Power website</a>
    </div>
</div>
<img class="image portrait" src="assets/moranpower.jpg" />
<img class="image landscape" src="assets/moranpower.jpg" />