<div class="text">
    <div style="height: 92%; padding-bottom: 4%; padding-top: 4%" fittext>
        <div>
            <p>In a world craving innovation and sustainability, Samuel Maina emerges as a beacon of change.</p>
            <p>With a small loan he's founded his installation company Moran Power, devoted to empowering those living off the grid with solar power and cutting-edge tools.</p>
            <p>Samuel's vision transcends boundaries, offering a brighter, greener future for all.</p>
        </div>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" />
<img class="image landscape" src="assets/sophy_herd.png" />