<div class="text" data-aos="zoom-in" data-aos-duration="1500">
    <div style="height: 12%; padding-bottom: 2%" fittext>
        <h4>{{ 'sophystory-h4-1' | translate }}</h4>
    </div>
    <div style="height: 68%; padding-bottom: 4%" fittext>
        <div>
            <p>{{ 'sophystory-p-1' | translate }}</p>   
        </div>
    </div>
    <div style="height: 13%" fittext>
        <a href="#invest">{{ 'sophystory-a-1' | translate }}</a>
    </div>
</div>
<img class="image portrait" src="assets/sophy_herd_wide.png" data-aos="zoom-in" data-aos-duration="1500" />
<img class="image landscape" src="assets/sophy_herd.png" data-aos="zoom-in" data-aos-duration="1500" />